# Onshape API Credentials
# Get your keys from https://dev-portal.onshape.com/keys

ONSHAPE_API=https://cad.onshape.com
ONSHAPE_ACCESS_KEY=
ONSHAPE_SECRET_KEY=
DISPLAY=:1
ACCEPT_EULA=Y
PRIVACY_CONSENT=Y